{% extends 'base.html' %}
{% block content %}
<h3>Activity Logs</h3>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>User</th>
            <th>Action</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
